*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
body {
  min-height: 100vh;
  background-color: #fff;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
/* CSS variables */
:root {
  /* Primary Color */
  --color-head: #e74c3c;
  --color-btn: #e95a4b;
  --color-btn-hover: #d62c1a;
  /* Secondary Colors */
  --color-sidebar: #adeabb;
  /* Tertiary Colors */
  --color-menu: #fefffe;
  --color-task: #fafdfe;
  --color-checklist: #edf8fa;
  --color-popup: #fbefe2;
}

/*
================================
 Content
 
================================
*/

/* General Elements */

/* Button */
.btn {
  color: white;
  cursor: pointer;
  background-color: var(--color-btn);
}
.btn:hover {
  background-color: var(--color-btn-hover);
}
.btn--icon {
  background: none;
  border: none;
}
.btn--icon:hover {
  background: none;
}
/* Icon */
.icon {
  color: black;
  margin: 0 auto;
}
/* Nav */
.nav {
  display: flex;
  align-items: center;
}
/* Form */
.form {
  margin: 0 12px;
}
.form--grid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 12px;
  align-items: center;
}

/* Rendered Elements */

/* Popups */
.popup {
  z-index: 100;
  padding: 1rem;
  background-color: var(--color-popup);
  transition: opacity 700ms;
}
.popup--menu {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.popup--sidebar {
  position: absolute;
  top: 11rem;
  left: 50%;
  max-width: 20rem;
  width: 90%;
  border-radius: 7px;
  transform: translateX(-50%);
}
.popup__label--title {
  font-size: 1.4rem;
  font-weight: 400;
}
.popup__text {
  font-size: 1rem;
  margin: 1rem;
  font-weight: 600;
}

/* Class Modifiers */

.hidden {
  visibility: hidden;
  opacity: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  transition: all 400ms;
}

/* 
 *
 * Head
 *
 *
 */

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: var(--color-head);
}
.head__item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.head__item-label--title {
  margin: 0 1rem;
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--color-secondary-dark);
  text-align: center;
}
.head__item-img {
  margin: 0 0.5rem;
}
.head__nav {
  flex-grow: 1;
  margin: 1rem 0.5rem;
  justify-content: flex-end;
}
.head__nav-item {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 10px 0;
}
.head__nav-item a {
  text-decoration: none;
  color: inherit;
  font-size: 3rem;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  position: relative;
  height: 100vh;
}

/* 
 *
 * Sidebar
 *
 *
 */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 22rem;
  width: 60%;
  height: 100%;
  margin-left: -110%;
  overflow: auto;
  background-color: var(--color-sidebar);
  transition: margin-left 700ms;
}
.sidebar--expand {
  margin-left: 0;
}
.sidebar__nav {
  justify-content: space-around;
  width: 100%;
}
.sidebar__label--title {
  margin: 1.5rem 1rem;
  font-size: 2.1rem;
  font-weight: 400;
}
.sidebar__label--subtitle {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

/* 
 *
 * Sidebar
 *
 * * * List
 *
 *
 */

.sidebar .list__item {
  position: relative;
  width: 12rem;
  min-height: 8rem;
  max-height: 12rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  background-color: var(--color-task);
  border-radius: 5px;
  transition: all 700ms;
}
.sidebar .list__label--banner--tag {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 9px;
  color: white;
  border-radius: 5px;
}
.sidebar .list__label--banner--hero {
  display: block;
  max-width: 8.5rem;
  width: 90%;
  padding: 5px;
  margin: 1rem auto;
  font-weight: 600;
  background-color: yellow;
  border-radius: 12px;
}
.sidebar .list__label--text {
  display: block;
  min-height: 1rem;
  max-height: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar .list__label--text--title {
  font-size: 1rem;
  font-weight: 600;
}
.sidebar .list__label--text--subtitle {
  font-size: 1.3rem;
  font-weight: 500;
}
.sidebar .list__btn {
  width: 4rem;
  padding: 5px;
  margin: 1rem auto;
  text-align: center;
  border: none;
  border-radius: 12px;
}

@media only screen and (min-width: 586px) {
  .sidebar .list__item {
    width: 14rem;
    max-height: 16rem;
    padding: 1rem;
  }
  .sidebar .list__label--text {
    max-width: initial;
    width: 100%;
    max-height: 2.5rem;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}

/* 
 *
 * Menu
 *
 *
 */

.menu {
  width: 100%;
  height: 100%;
  background-color: var(--color-menu);
}
.menu__nav {
  flex-direction: column;
  text-align: center;
}
.menu__nav .nav__label {
  margin: 1rem;
  font-weight: 300;
  font-size: 2.7rem;
}
.menu__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  justify-items: center;
  width: 100%;
  margin-top: 1rem;
}

@media only screen and (min-width: 796px) {
  .menu__nav {
    flex-direction: row;
    text-align: initial;
  }
  .menu__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 
 *
 * Menu
 *
 * * * Content
 * 
 *
 */

.menu .content__item {
  width: 10rem;
  height: 10rem;
  margin: 0.5rem 0;
  border: 1px solid black;
  border-radius: 50%;
  transition: transform 700ms;
}
.menu .content__item:hover {
  cursor: pointer;
  transform: scale(120%);
}
.menu .content__label {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 6;
  color: white;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (min-width: 586px) {
  .menu .content__item {
    width: 14rem;
    height: 14rem;
    padding: 2rem;
    margin: 1rem;
  }
}

/* 
 *
 * Checklist
 *
 *
 */

.checklist {
  position: fixed;
  top: 5rem;
  right: 5rem;
  width: 15rem;
  height: 3.5rem;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
  background-color: var(--color-checklist);
  border: 2px solid black;
  border-radius: 12px;
  opacity: 0;
  transition: height 700ms;
}
.checklist--expand {
  height: 12rem;
}
.checklist__label {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}
.checklist__list {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 1rem;
}

@media only screen and (min-width: 796px) {
  .checklist {
    visibility: visible;
    opacity: 1;
  }
}

/* 
 *
 * Checklist
 *
 * * * List
 * 
 *
 */

.checklist .list__item {
  position: relative;
  width: 12rem;
  padding: 0.5rem;
  margin: 5px 0;
  font-size: 1rem;
  list-style: none;
  background-color: white;
  border-radius: 5px;
  transition: opacity 700ms;
}
.checklist .list__input--checkbox {
  position: absolute;
  top: 6px;
  right: 4px;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

/* 
 *
 * Modal
 *
 *
 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  transition: translate 400ms;
  transform: translate(-50%, -50%);
}
.modal__header {
  max-width: 90%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.modal__btn {
  cursor: pointer;
}
.modal__btn--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  cursor: pointer;
  background: none;
  border: none;
}

/* 
 *
 * Modal
 *
 * * * Form
 *
 *
 */

.modal .form__label {
  font-size: 1.2rem;
  font-weight: 500;
}
.modal .form__input {
  max-width: 18rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.modal .form__input--color {
  min-width: 6rem;
  width: 30%;
  height: 3rem;
  cursor: pointer;
}
.modal .form__input--date {
  width: 100%;
  height: 3rem;
  padding: 5px;
  font-size: 1rem;
}
.modal .form__select {
  max-width: 12rem;
}
.modal .form__btn {
  padding: 1.25rem 4.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid black;
}
.modal .form__btn--submit {
  grid-column: 1 / span 2;
  justify-self: center;
}
