*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: #fff;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  --color-sidebar: #d6ffdf;
  --color-menu: #f7f7f7;
}

/*
================================
 Content
 
================================
*/

/* General elements */

/* Nav */
.nav {
  display: flex;
  align-items: center;
}
.nav__btn {
  padding: 1px;
  cursor: pointer;
  background: none;
  border: none;
}
.nav__btn--close {
  align-self: flex-end;
}
/* List */
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list__btn {
  width: 4rem;
  padding: 5px;
  cursor: pointer;
  background-color: azure;
  border: none;
  border-radius: 12px;
}
/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  transition: translate 400ms;
  transform: translate(-50%, -50%);
}
.modal__header {
  max-width: 90%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.modal__btn {
  font-family: inherit;
  cursor: pointer;
}
.modal__btn--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  cursor: pointer;
  background: none;
  border: none;
}
/* Form */
.form {
  margin: 0 12px;
  font-size: 1rem;
}
.form--grid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 12px;
  align-items: center;
}
.form__label {
  font-size: 1.2em;
  font-weight: 500;
}
.form__input {
  padding: 0.5rem 1.5rem;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.form__input--color {
  width: 30%;
  height: 3rem;
  cursor: pointer;
}
.form__input--date {
  width: 100%;
  height: 3rem;
  padding: 5px;
  font-size: 1rem;
}
.form__btn {
  padding: 1.25rem 4.5rem;
  margin-top: 1rem;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid black;
}
.form__btn--submit {
  grid-column: 1 / span 2;
  justify-self: center;
}
/* Class Modifiers */
.hidden {
  visibility: hidden;
  opacity: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  transition: all 400ms;
}

/* 
 *
 * Head
 *
 *
 */

.head {
  width: 100%;
  height: 4rem;
  background-color: red;
}
.head__nav {
  justify-content: center;
  height: 100%;
}

/* 
 *
 * Head
 *
 * * * Nav
 *
 *
 */

.head .nav__header {
  font-size: 1.9rem;
  font-weight: 600;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}

/* 
 *
 * Sidebar
 *
 *
 */

.sidebar {
  display: inline-block;
  max-width: 22rem;
  width: 0%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-sidebar);
  transition: width 700ms;
}
.sidebar--expand--small {
  width: 60%;
}
.sidebar--expand--large {
  width: 80%;
}
.sidebar__nav {
  width: 100%;
}
.sidebar__header {
  display: block;
  margin: 5px 12px;
  font-size: 1.9rem;
  font-weight: 600;
  text-decoration: underline;
}
.sidebar__list {
  margin: 1rem;
}

/* 
 *
 * Sidebar
 *
 * * * Nav
 *
 *
 */

.sidebar .nav__header {
  flex-grow: 1;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.sidebar .nav__icon {
  display: inline-block;
  transform: scale(110%);
}

/* 
 *
 * Sidebar
 *
 * * * List
 *
 *
 */

.sidebar .list__item {
  position: relative;
  max-width: 18rem;
  width: 10rem;
  min-height: 8rem;
  max-height: 12rem;
  padding: 1rem;
  margin: 12px 0;
  overflow: hidden;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  transition: all 700ms;
}
.sidebar .list__item:hover {
  height: initial;
  width: 90%;
  transform: scale(110%);
}
.sidebar .list__label--banner--tag {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 9px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
}
.sidebar .list__label--banner--hero {
  display: block;
  max-width: 8.5rem;
  width: 90%;
  padding: 5px;
  margin: 1rem auto;
  font-weight: 600;
  background-color: yellow;
  border-radius: 12px;
}
.sidebar .list__label--text {
  display: inline-block;
  width: 90%;
  min-height: 1rem;
  max-height: 1.5rem;
  overflow-y: hidden;
  font-size: 1em;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar .list__btn {
  display: inline-block;
  margin: 1rem 2px;
  text-align: center;
}

@media only screen and (min-width: 363px) {
  .sidebar .list__item {
    width: 12rem;
    max-height: 14rem;
  }
  .sidebar .list__label--text {
    display: block;
    max-width: initial;
    width: 100%;
    max-height: 2.5rem;
    font-size: 1.1em;
  }
  .sidebar .list__item > h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6em;
    font-weight: 600;
  }
}
@media only screen and (min-width: 441px) {
  .sidebar .list__item > h2 {
    overflow: initial;
  }
  .sidebar .list__label--text {
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}

/* 
 *
 * Welcome
 *
 *
 */

.sidebar--layer--1 {
  position: fixed;
  display: inline-block;
  width: 22rem;
  height: 100%;
  overflow-y: auto;
  background-color: #f2ffd1;
  transition: width 700ms;
}
.sidebar--layer--1 .sidebar__text {
  display: block;
  width: 90%;
  margin: 1rem;
  font-size: 1.8rem;
}

/* 
 *
 * Menu
 *
 *
 */

.menu {
  float: right;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-menu);
  transition: width 700ms;
}
.menu--shrink--small {
  width: 20%;
}
.menu--shrink--large {
  width: 40%;
}
.menu--shrink--full {
  width: calc(100% - 22rem);
}
.menu__nav {
  width: 100%;
  overflow: hidden;
}
.menu__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  justify-items: center;
  width: 100%;
}

@media only screen and (min-width: 587px) {
  .menu {
    grid-template-columns: repeat(2, 50%);
    /* width: 100%; */
  }
}

/* 
 *
 * Menu
 *
 * * * Nav
 * 
 *
 */

.menu .nav__header {
  margin: 1rem;
  font-size: 1.9rem;
  text-align: center;
}

/* 
 *
 * Menu
 *
 * * * Content
 * 
 *
 */

.menu .content__item {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  transition: transform 700ms;
}
.menu .content__item:hover {
  transform: scale(120%);
}
.menu .content__header {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 6rem;
  color: white;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (min-width: 587px) {
  .menu .content__item {
    width: 12rem;
    height: 12rem;
  }
  .menu .content__header {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 10rem;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
